<div class="row" style="padding-bottom: 1cm;">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-md-9">
                <h1 style="color: red;font-family: cursive;padding-bottom: 0.5cm;">Packing Tips</h1>
                <p style="font-family: cursive;"> At Shurgard we want you to have a great self storage experience. Below is
                    everything you need to know
                    on how to pack your belongings like a pro. <br>
                    As a true self storage expert, we can also help you with professional moving boxes and packing materials
                    such as extra large boxes, wardrobe boxes, glass dividers, tape, bubble wrap, mattress bags, silk paper…
                </p>
    
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Choose the Right Box</h3>
                <p style="font-family: cursive;">
                    For every one large box you will need about four small- to medium-size. <br>
    
                    Use the smaller boxes for heavy items such as books and dishes; the large boxes for lighter items like
                    bedding, blankets and linens. <br>
    
                    Avoid using garbage bags to pack your stuff because they tear easily and lack ventilation, which can
                    result in mildew. <br>
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/rightbox.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 1cm;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Don’t overload the boxes</h3>
                <p style="font-family: cursive;">
                    Packed boxes should not weigh more than you can comfortably lift. Pack heavy items at the bottom of
                    boxes to provide a stable base. <br>
    
                    Make sure they remain “square” and do not bulge at the top or sides. This way they will stay stable when
                    you stack them in your storage unit. <br>
    
                    It’s also important to not under pack the boxes. If the box is half empty, the contents can shift during
                    transport, they can also get crushed under the weight of heavier boxes or items. Use foam packing
                    peanuts to fill empty spaces without adding much weight. <br>
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/overload.png" alt="">
            </div>
    
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Use hanging wardrobe boxes</h3>
                <p style="font-family: cursive;">
                    Prevent wrinkling and damage to trousers, dresses, suits and evening wear by hanging them in a wardrobe box. <br>
    
                    With these boxes, you can reduce packing and unpacking time by just moving hung items straight from your closet to the boxes. <br>
    
                    You can also use these wardrobe boxes to hang drapes, bedding or to store garden tools or garage items. <br>
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/wardrobe.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 1cm;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Tape your boxes up</h3>
                <p style="font-family: cursive;">
                    Good quality packaging tape is essential. Closing your boxes with packing tape to make sure they maintain their structure and protect your items. Be sure to firmly close the top and bottom flaps with wide tape.
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/tapeboxes.png" alt="">
            </div>
    
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Label your boxes</h3>
                <p style="font-family: cursive;">
                    Use a heavy black marker to label the box. This will save you from having to open every box when you need something later
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/label.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Mark the stacking direction</h3>
                <p style="font-family: cursive;">
                    Clearly mark the stacking direction of boxes that contain items that should be stored in a certain way —such as glassware, picture frames and lamps that can otherwise be easily damaged when stored wrongly
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/starcking.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Prep your power tools</h3>
                <p style="font-family: cursive;">
                    If you are storing lawnmowers, weed wackers or leaf blowers, drain their fuel tanks before putting them in your storage unit.
                    <br>
                    This will prevent other items in your storage unit from adopting a fuel odour and also protect your clothing and other items from being damaged in case of a leak.

                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/powertools.png" alt="">
            </div>
    
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Wrap your Furniture</h3>
                <p style="font-family: cursive;">
                    Cover and pad furniture with protective materials to keep them in good condition during the moving process and while in storage. Remove cushions from the sofa and wrap or place them in plastic bags

                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/wrapfurniture.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Make items as small as possible</h3>
                <p style="font-family: cursive;">
                    Many stored items can be made smaller. For example you can reduce the size of bed frames to help them fit more comfortably in your storage space.
                    <br>
                    Wrap frames together with tape (use the non-sticky side to avoid tape residue) then place any screws in plastic bags and tape them to the frame.

                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/powertools.png" alt="">
            </div>
    
        </div>
    </div>
</div>