<div class="container mt-5">
    <h2 style="color: red;">Moving Boxes and Packing Materials</h2>
    <p>Having the right materials makes moving easier. We offer moving boxes and storage boxes<br>
         in different sizes as well as bubble wrap, tape and protection covers.</p>
    <div class="row">
        <div class="col-md-6">
            <h2 >Moving Boxes</h2>
            <img src="assets/boxes.jfif" [routerLink]="['/boxes']" routerLinkActive="router-link-active"  alt="" style="height:6cm;width: 10cm;outline-style: ridge;">
        </div>
        <div class="col-md-6">
            <h2 >Packing Supplies</h2>
            <img src="assets/supplies.jpg" [routerLink]="['/supplies']" routerLinkActive="router-link-active"  alt="" style="height: 6cm;width: 10cm;outline-style: ridge;">
        </div>
    </div>
</div>