<div class="row" style="padding-bottom: 1cm;">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-md-9">
                <h1 style="color: red;font-family: cursive;padding-bottom: 0.5cm;"> Storage Tips</h1>
                <p style="font-family: cursive;"> Shurgard wants you to have a great self-storage experience. Here are tips on how to handle every step of the storage process.
                     <br>
                     As true storage experts, we can help you with all your storage needs.
                </p>
    
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Be mindful about placement</h3>
                <p style="font-family: cursive;">
                    Keep your frequently used items at the front of your storage unit. This will help you easily locate and grab them on your next visit.
                     <br>
    
                     Make a basic drawing that points out locations of different boxes, such as kitchen stuff, toys, books, clothes… then tack it to the wall of your storage unit.
                      <br>
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/placement.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 1cm;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Stack to the ceiling</h3>
                <p style="font-family: cursive;">
                    Stack boxes to the ceiling to make the best use of your storage space.
                     Place the heaviest boxes at the bottom of the stack. Store larger items vertically.
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/stack.png" alt="">
            </div>
    
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Create an aisle</h3>
                <p style="font-family: cursive;">
                    Allow for a clear path down the centre of your self-storage unit. Place items along the walls, but be sure to leave an inch of space for proper air circulation.
                     <br>
    
                     Don’t forget to face box labels towards the aisle so you can easily read them and navigate your things.
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/aisle.png" >
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 1cm;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Storage inside storage</h3>
                <p style="font-family: cursive;">
                    You can save room in your storage unit by storing books and CDs inside the fridge. Just leave the fridge door wedged open for circulation.
                    <br>
                    Or use empty trash bins to store garden tools such as shovels and hoses.
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/storage.png" alt="">
            </div>
    
        </div>
    </div>
</div>
<div class="row" style="background-color:rgba(194, 199, 206, 0.397);padding-bottom: 1cm;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3 style="color:royalblue;font-family: cursive;padding-bottom: 0.3cm;">Keep some basic tools at hand</h3>
                <p style="font-family: cursive;">
                    Tools like screwdrivers, a hammer, pliers and a utility knife can be useful when you need to disassemble furniture to make them smaller for storage.
                    <br>
                    Tools like screwdrivers, a hammer, pliers and a utility knife can be useful when you need to disassemble furniture to make them smaller for storage.

                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/tools.png" >
            </div>
        </div>
    </div>
</div>
