<div class="container mt-5">
    <h2 style="color: red;">Moving Boxes</h2>
    <p>Safely pack up your belongings and protect them during the moving process.</p>
    <h5 class="mt-5">{{smallBox.name}}</h5>
    <p>{{smallBox.price}}</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/{{smallBox.image}}"  style="outline-style: ridge;height: 5cm;width: 8cm;">
        </div>
        <div class="col-md">
            <p><mat-icon matPreffix>check_circle</mat-icon>Suitable for videos/DVDs/CDs, household items, books, tools and other smaller heavy items
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Individual fragile items when used with bubblewrap/wrapping paper
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Tape required to secure box
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>35 x 27 x 33 cm
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Made from responsible sources
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Reusable
            </p>
            <div class="row"><button class=" btn btn-danger" (click)="smallboxneg()">-</button><h2> {{smallBox.count}} </h2><button class="btn btn-primary" (click)="smallboxpos()">+</button></div>
        </div>
    </div>
    <h5 class="mt-5">{{mediumBox.name}}</h5>
    <p>{{smallBox.price}}</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/{{mediumBox.image}}"  style="outline-style: ridge;height: 5cm;width: 8cm;">
        </div>
        <div class="col-md">
            <p><mat-icon matPreffix>check_circle</mat-icon>Suitable for medium-weight items such as kitchen utensils, clothing, toys etc.
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Glass dividers can be used with this box
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Tape required to secure box
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>55 x 35 x 33 cm
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Made from responsible sources
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Reusable
            </p>
            <div class="row"><button class=" btn btn-danger" (click)="mediumboxneg()">-</button><h2> {{mediumBox.count}} </h2><button class="btn btn-primary" (click)="mediumboxpos()">+</button></div>
        </div>
    </div>
    <h5 class="mt-5">{{mediumBox2.name}}</h5>
    <p>{{mediumBox2.price}}</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/{{mediumBox2.image}}"  style="outline-style: ridge;height: 5cm;width: 8cm;">
        </div>
        <div class="col-md">
            <p><mat-icon matPreffix>check_circle</mat-icon>Suitable for heavier items
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Highest quality moving and storage box (tough & durable), reinforced cardboard
                <br>
                <mat-icon matPreffix>check_circle</mat-icon> No tape required so convenient to open and close
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>55 x 35 x 33 cm
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Made from responsible sources
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Reusable
            </p>
            <div class="row"><button class=" btn btn-danger" (click)="mediumboxxneg()">-</button><h2> {{mediumBox2.count}} </h2><button class="btn btn-primary" (click)="mediumboxxpos()">+</button></div>
        </div>
    </div>
    <h5 class="mt-5">{{largeBox.name}}</h5>
    <p>{{largeBox.price}}</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/{{largeBox.image}}"  style="outline-style: ridge;height: 5cm;width: 8cm;">
        </div>
        <div class="col-md">
            <p><mat-icon matPreffix>check_circle</mat-icon>Perfect box for linen, sheets, towels and clothing – multi purpose
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Ideal for other larger items
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Tape required to secure box
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>46 x 46 x 45 cm
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Made from responsible sources
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Reusable
            </p>
            <div class="row"><button class=" btn btn-danger" (click)="largeboxneg()">-</button><h2> {{largeBox.count}} </h2><button class="btn btn-primary" (click)="largeboxpos()">+</button></div>
        </div>
    </div> 
    <h5 class="mt-5">{{wardrobeBox.name}}</h5>
    <p>{{wardrobeBox.price}}</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/{{wardrobeBox.image}}"  style="outline-style: ridge;height: 5cm;width: 8cm;">
        </div>
        <div class="col-md">
            <p><mat-icon matPreffix>check_circle</mat-icon>Save time when packing up your clothing, and keep it wrinkle free, by keeping items on the hanger
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Room at the bottom of the box for other items e.g blankets, shirts
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Comes with hanger bar and has handles for easy lifting
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Tape required to secure box
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>50 x 44.2 x 100 cm
                <br>
                <mat-icon matPreffix>check_circle</mat-icon>Made from responsible sources & Reusable
            </p>
            <div class="row"><button class=" btn btn-danger" (click)="wardboxneg()">-</button><h2> {{wardrobeBox.count}} </h2><button class="btn btn-primary" (click)="wardboxpos()">+</button></div>
        </div>
    </div>
<div class="row">
    <button class="btn btn-primary mt-5 col-md" (click)="orderbox()"> Submit </button>
    <div class="col-md-1"></div>
    <button class="btn btn-primary  mt-5 col-md" (click)="addToCart()"> Add to Cart </button>
</div>
<div class="col-md-6 mt-5">
    <h2 >Packing Supplies</h2>
    <a [routerLink]="['/supplies']" routerLinkActive="router-link-active" > <br> See our range of packing supplies </a>
    <img src="assets/supplies.jpg" [routerLink]="['/supplies']" routerLinkActive="router-link-active"  alt="" style="height: 6cm;width: 10cm;outline-style: ridge;">
    
</div>  
</div>

    




