<!-- <div class="cointainer mt-5">
    <div class="row justify-content-center">
        <div class="card col-md-4" style="background-color: rgba(226, 160, 122, 0.932);">
            <div class="card-header">
                <h2 class="text-center">Login to Continue</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="userform" (submit)="userSubmit(userform.value)" >
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <label>Username : </label>
                        </div>
                        <div class="col-md-8 text-center">
                            <input type="text" class="form-control"  >
                        </div>
                     </div>
                    <div class="row mt-2">
                        <div class="col-md-4 text-center">
                            <label>Password : </label>
                        </div>
                        <div class="col-md-8 text-center">
                            <input type="password" class="form-control" >
                        </div>
                    </div>
                    <button class="btn btn-warning btn-block mt-3">SUBMIT</button>
                </form>

                <div class="card-footer mt-2">
                    <div class="row">

                        <div class="col">
                            <label>
                                <input type="checkbox" name="" id="">
                                Remember Me
                            </label>
                        </div>
                        
                        <div class="col text-right">
                            <a [routerLink]="['/forgot']" routerLinkActive="router-link-active" >Forgot password</a>
                        </div>
                        <br>
                        <div class="col-mt-8 text-center">
                            <label>If not a user <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Click Here</a> to Register</label>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row justify-content-center">
       <div class="col-md-5">
        <mat-card class="justify-center" style="background-color: rgba(140, 218, 170, 0.829);">
            <mat-card-title>
               
                <mat-icon matPrefix>home</mat-icon>
                <p class="text-center">Login to Continue</p>
               
                
            </mat-card-title>
            <mat-card-content >
               <form [formGroup]="loginform" (submit)="loginSubmit(loginform.value)">
                   <mat-form-field class="col-md" appearance="outline">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username" >
                    <mat-error *ngIf="getcontrol('username').errors">username is required</mat-error>
                   </mat-form-field><br>
                   <mat-form-field class="col-md" appearance="outline">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                   </mat-form-field><br>
                   <div class="row justify-content-center">
                    <button mat-raised-button class="col-md-4" style="background-color: rgba(235, 252, 4, 0.842);" >Login</button>
                    <div class="col-md-1"></div>
                    <button mat-raised-button class="col-md-4" style="background-color: rgba(245, 81, 21, 0.815);">Reset</button> 
                   </div>
                
                </form>
                <br>
                <div class="row" >
                    <div class="col">
                        <label>
                            <input type="checkbox" name="" id="">
                            Remember Me
                        </label>
                    </div>
                    
                    <div class="col text-right">
                        <a [routerLink]="['/forgot']" routerLinkActive="router-link-active" >Forgot password</a>
                    </div>
                </div>
                
                <div class="col-mt-8 text-left mt-1">
                    <label>If not a user <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Click Here</a> to Register</label>
                </div>


            </mat-card-content>
        </mat-card>
       </div>
    </div>
</div>