    <div class="container mt-5"  *ngIf="cartservice.cartitems " >
  
        <table class="table text-center ">
          <thead>
            <tr >
              <th></th>
              <th class="text-center">Product</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Price</th>    
            </tr>
          </thead>
          <tbody >
            <tr  *ngFor=" let item of cartservice.cartitems ; let i=index">
              <td><img [src]="'assets/'+item.image" style="height: 6rem;" > </td>
              <td><h3 >{{ item.name}}</h3></td>
              <th>
                <div class="row justify-content-center">
                    <h4>{{item.count}}</h4>
                <!-- <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="removequantity(i)"> <fa-icon [icon]="minus"></fa-icon></button>
                <input class="form-control col-1"  [(ngModel)]="item.quantity">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="addquantity(i)"> <fa-icon [icon]="plus"></fa-icon></button> -->
              </div>
              </th>
              <th><strong>Rs{{item.price}}</strong></th>
            </tr>
          </tbody>
        </table>
          <hr>
          
          <div class="container" style="text-align: center;" *ngIf="!cartservice.cartitems.length">
            <h1>YOUR SHOPPING CART IS EMPTY</h1>
          </div>
  
       <h2 class="mt-5" style="text-align: center; ">CART TOTALS</h2>   
       <hr>
       
        <table class="mt-5 ">
          <thead>          
            <tr class="low" >
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td class=" col-md-9"><h3 >Subtotal</h3></td>
              <td class="text-right col-md-3"><h3><strong>₹{{sum}}</strong></h3></td>
          </tr>
          
          <tr class="low" >
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td class="col-md-9"> <h4>Estimated shipping</h4></td>
              <td class="text-right col-md-3"><h4><strong>Free</strong></h4></td>
          </tr>
         
          <tr class="low ">
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td class="col-md-9"><h3>Total</h3></td>
              <td class="text-right col-md-3"><h3><strong>₹{{sum}}</strong></h3></td>
          </tr>
          
          <tr>
              <td>   </td>
              <td>   </td>
              <td>   </td>
              <td> 
              <hr>
  
              <button type="button" class="btn btn-outline-dark mt-3" [routerLink]="['/home']" routerLinkActive="router-link-active" >
                  <span class="glyphicon glyphicon-shopping-cart" ></span> Continue Shopping
              </button></td>
              <td>
              <button type="button" class="btn btn-outline-dark" (click)="checkout()">
                  Checkout <span class="glyphicon glyphicon-play"></span>
              </button></td>
             
          </tr>
          </thead>
        </table>
      
     
    
    <button class="btn btn-outline-dark" (click)="emptycart()">Clear Cart </button>  
    
  
  </div>
  <div>
  </div>
  
  