<!-- <div class="container" *ngIf="location">
    <mat-card *ngFor="let loc of location">
      <mat-card-header>
        <h2>{{loc.locality}}</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-3">
            <img src="assets/10sq.PNG" alt="" style="height: 4cm;">
          </div>
          <div class="col-md-2">
            <h5>{{loc.area}} sq ft</h5>
          </div>
          <div class="col-md-3">
            <h5>{{loc.address}}<br>{{loc.pincode}}<br>{{loc.city}},{{loc.state}}</h5>
          </div>
          <div class="col-md-3">
            <h5>Rs {{loc.price}} /month</h5>
          </div>
          <div class="col-md" style="text-align: end;">
            <button class="btn" (click)="bookLocation(location)"><img src="assets/arrow.png" alt=""></button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->