<div class="container mt-5">
    <h2 style="color: red;">Packing supplies</h2>
    <p>Protect your fragile and most precious belongings in the best possible way.</p>
    <h5>Tape</h5>
    <p>Rs 30</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/tape1.jpg" [routerLink]="['/boxes']" routerLinkActive="router-link-active"  alt="" style="outline-style: double;height: 3cm;width: 5cm;">
        </div>
        <div class="col-md">
            <p>Tape to secure the small, standard, large and wardrobe box
                <br>
                66 m x 5 cm
            </p>
            <div class="row"><button class=" btn btn-danger">-</button><h2>0</h2><button class="btn btn-primary">+</button></div>
        </div>
    </div>
    <h5 class="mt-5">Tape Gun</h5>
    <p>Rs 400</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/tapegun.jpg" [routerLink]="['/boxes']" routerLinkActive="router-link-active"  alt="" style="outline-style: double;height: 3cm;width: 5cm;">
        </div>
        <div class="col-md">
            <p>Make taping up your boxes a quick task by using a tape gun
                <br>
                1 roll of tape comes with each tape gun
            </p>
            <div class="row"><button class=" btn btn-danger">-</button><h2>0</h2><button class="btn btn-primary">+</button></div>
        </div>
    </div>
    <h5 class="mt-5">Blanket</h5>
    <p>Rs 300</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/blanket.jpg" [routerLink]="['/boxes']" routerLinkActive="router-link-active"  alt="" style="outline-style: double;height: 3cm;width: 5cm;">
        </div>
        <div class="col-md">
            <p>Ideal to protect items during transportation & storage
                <br>
                Prevents scratching
                <br>
                200 x 150 cm
            </p>
            <div class="row"><button class=" btn btn-danger">-</button><h2>0</h2><button class="btn btn-primary">+</button></div>
        </div>
    </div>
    <h5 class="mt-5">Dust Cover</h5>
    <p>Rs 300</p>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/dustcover.jpg" [routerLink]="['/boxes']" routerLinkActive="router-link-active"  alt="" style="outline-style: double;height: 3cm;width: 5cm;">
        </div>
        <div class="col-md">
            <p>Protects against dust, for multiple usage e.g. chairs, sofas
                <br>
                600 x 300 cm
                
            </p>
            <div class="row"><button class=" btn btn-danger">-</button><h2>0</h2><button class="btn btn-primary">+</button></div>
        </div>
    </div>
    
    


</div>
