
<div class="container-fluid mt-5">
    <p class="text-center display-4">Admin Dashboard</p>
    <hr>
    <div class="row justify-content-center">
        <div class="col-2" style="border-right: 1px solid rgb(194, 194, 194);height: 300px">

            <mat-card matRipple>
                <mat-card-content class="card-body">
                    <!-- <img [src]="user.avatar" class="rounded-circle" height="100px"> -->
                    <p class="h6">{{admin.name}}</p>
                    <p>{{admin.email}}</p>
                    <hr>
                    <p>{{admin.address}}</p>
                    <p>{{admin.pincode}}</p>
                    <p>{{admin.mobile}}</p>
                </mat-card-content>
            </mat-card>

            <button class="btn-block mt-5" mat-raised-button (click)="toggleStats()">Statistics</button>
            <button class="btn-block" mat-raised-button (click)="toggleUsers()">Registered Users</button>
            <button class="btn-block" mat-raised-button (click)="toggleOrders()">Orders</button>
            <button class="btn-block" mat-raised-button (click)="toggleLocs()">Manage Locations</button>

        </div>

        <div class="col">
            <app-website-stats [users]="users" [orders]="orders" [locations]="locations" *ngIf="users && orders && showstats && locations"></app-website-stats>
            <app-browse-orders [orders]="orders" *ngIf="showorders && orders"></app-browse-orders>
            <app-browse-locations [locations]="locations" *ngIf="showlocs && locations" ></app-browse-locations>
            <app-browse-users [users]="users" *ngIf="showusers && users"></app-browse-users>
        </div>
    </div>
</div>



