<div class="mt-3">
    <div class="row" style="background-color: rgba(227, 230, 236, 0.383);">
        <div class="col-md-1"></div>
        <p class="col-md" style="font-size: larger;padding-top: 140px;font-style: italic;">
            Need Help To Store Your Units<br><a [routerLink]="['/book']"
               routerLinkActive="router-link-active">Click Here >></a> </p><br>
        <img class="col-md " style="align-content: flex-end; height: 10cm" src='/assets/sg.jpg'>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="mt-3"> 
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
            <img src="assets/dash1.jpg" style="height: 100px;width: 100px;">
             <p style="text-align: center;font-size: small;font-style: italic;">Acess 7 days a week </p>
        </div>
        <div class="col-md"></div>
        <div class="col-md" style="padding-top: 10px;">
            <img src="assets/dash2.jpg" style="height: 80px;width: 120px;">
             <p style="text-align: center;font-size: small;font-style: italic;padding-top: 10px;">Safe and Secure</p>
        </div>
        <div class="col-md"></div>
        <div class="col-md">
            <img src="assets/dash3.jpg" style="height: 100px;width: 120px;padding-left: 15px;">
             <p style="text-align: center;font-size: small;font-style: italic;"> Expert Advice</p>
        </div>
        <div class="col-md"></div>
        <div class="col-md">
            <img src="assets/dash4.jpg" style="height: 100px;width: 140px;">
             <p style="text-align: center;font-size: small;font-style: italic;">Free Reservation & Cancellation</p>
        </div>
        <div class="col-md"></div>
    </div>
</div>
<div class=" row mt-3" style="background-color: rgba(145, 241, 241, 0.328);">
    
    <div class="col-md-1" ></div>
    <div class="col-md-6" style="padding-top: 20px;">
        <h2 style="color:coral;">Not sure how much storage space you need?</h2>
        <p>We understand it's not always easy to figure out how much storage space your belongings will take up. That's why we created this easy to use tool to help you work it out.

            Simply select the items you want to store and we’ll tell you exactly the unit size you need. <br><br>
        <button [routerLink]="['/calcloc']" mat-raised-button color="primary">Calculate Your Unit Size</button>
        </p>
    </div>
    <div class="col-md-5" style="text-align: center;padding-top: 20px;padding-bottom: 20px;">
        <img src="assets/tape.jpg">
    </div>
    
</div>
