<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row justify-content-center">
                <div class="col-md-4" style="border-right: 1px solid rgb(194, 194, 194);height: 300px">

                    <mat-card class="col-md-11">
                        <mat-card-content class="card-body">
                            <img [src]="user.avatar" class="rounded-circle" height="100px">
                            <p class="h3">{{user.name}}</p>
                            <p class="h4">{{user.email}}</p>
                        </mat-card-content>
                    </mat-card>

                </div>

                <div class="col-md-8">
                    <mat-card class="col-md-11">
                        <mat-card-content class="card-body">
                            
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>