<!-- <div class="cointainer mt-5">
    <div class="row justify-content-center">
        <div class="card col-md-6" style="background-color: rgba(49, 161, 161, 0.712);">
            <div class="card-header">
                <h2 class="text-center" style="color:cyan;">Registration Page</h2>
            </div>
            <div class="card-body" class="label">
                <form [formGroup]="userform" (submit)="userSubmit(userform.value)" >
                    <div class="row">
                        <div class="col-md-4 ">
                            <label>Username : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="username">
                            <div *ngIf="getcontrols().username.errors" style="color: red;font-size: small;">username is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Password : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="password" class="form-control" formControlName="password">
                            <div *ngIf="getcontrols().password.errors" style="color: red;font-size: small;">password is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Email Address : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="email">
                            <div *ngIf="getcontrols().email.errors" style="color: red;font-size: small;">email is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Name : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="name">
                            <div *ngIf="getcontrols().name.errors" style="color: red;font-size: small;">name is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Mobile No. : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" class="form-control" formControlName="mobile">
                            <div *ngIf="getcontrols().mobile.errors" style="color: red;font-size: small;">mobile no. is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Address :  </label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" formControlName="address"></textarea>
                            <div *ngIf="getcontrols().address.errors" style="color: red;font-size: small;">address is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Pin Code : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" class="form-control" formControlName="pincode">
                            <div *ngIf="getcontrols().pincode.errors" style="color: red;font-size: small;">pincode is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>City/Town/Village: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="city">
                            <div *ngIf="getcontrols().city.errors" style="color: red;font-size: small;">city is required</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>State : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="state">
                            <div *ngIf="getcontrols().state.errors" style="color: red;font-size: small;">state is required</div>
                        </div>
                    </div>

                    <div class="row">
                    <button class="btn btn-danger col-md mt-3" type="submit" >SUBMIT</button>
                        <div class="col-md-1"></div>
                        <button class="btn btn-warning col-md mt-3" type="reset">RESET</button>
                    </div>
                </form>
                
               
            </div>
        </div>
    </div>
</div> -->

<!-- <br>
    <div class="container-fluid">
    <div class="row justify-content-center">
            <mat-card style="background-color: #424242c5;" class="col-md-6">
            <mat-card-title style="text-align: center; background-color:red; border-radius: 50px;">Sign Up as Guest</mat-card-title> 
            <form [formGroup]="userform" (submit)= "onusersubmit(userform.value)">
            <mat-form-field class="css">
            <mat-label for="name">Name</mat-label>
            <input matInput formControlName="name">   
            <mat-error *ngIf="submitted && returnControls().name.errors">Name is required</mat-error>
            </mat-form-field>
    <br>
          <mat-form-field  class="css">
          <mat-label for="username">Username</mat-label>
          <input matInput formControlName="username">
          <mat-error *ngIf="submitted && returnControls().username.errors" class="label-error">Username is required</mat-error>
          </mat-form-field>
    <br>
          <mat-form-field  class="css">
            <mat-label for="password">Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="submitted && returnControls().password.errors" class="label-error">Password is required</mat-error>
          </mat-form-field>
    <br>   
         <mat-form-field class="css">
          <mat-label for="confirm">Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirm">
          <mat-error *ngIf="submitted && returnControls().confirm.errors" class="label-error">Passwords must match</mat-error>
         </mat-form-field>
    <br>
          <mat-form-field class="css">
          <mat-label for="email">E-mail</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="submitted && returnControls().email.errors" class="label-error">E-mail is required</mat-error>
          </mat-form-field>
    <br>
         <mat-form-field class="css">
          <mat-label for="address">Address</mat-label>
          <input matInput  formControlName="address">
          <mat-error *ngIf="submitted && returnControls().address.errors" class="label-error">Address is required</mat-error>
          </mat-form-field>
          <button mat-raised-button class="btn btn-outline-info btn-block mt-3" style="border-radius: 50px">Submit</button>
          </form>   
          </mat-card>        
 </div>
 </div> -->

 <div class="container-fluid top-con">
    <div class="row justify-content-center">
        <div class="col-md">
            <!-- <mat-card class="mb-4">
                <mat-card-content class="card-body text-center">
                    
                </mat-card-content>
          </mat-card> -->
           <mat-card id="main-card">
                 <mat-card-content>
                      <div class="row">
                            <div class="col-md-6 img-col">
                            </div>
                
                            <div class="col-md-6 mt-5">
                                <div class="text-center">
                                    <img class="img-fluid" src="https://www.xmpie.com/uStoreReleaseNotes/Version%208.3/WebHelp/template/Responsive_Layout_TOC_only/logo.png" style = "height:100px">
                                    <p class="h2 text-center">Sign Up</p>
                                </div>
                                  <form [formGroup]="userform" (submit)="userSubmit(userform.value)">
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md">
                                              <mat-label>Name</mat-label>
                                              <input matInput placeholder="Mr. Anderson" formControlName="name">
                                              <mat-error *ngIf="getcontrols().name.errors">Name is Required</mat-error>
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md">
                                              <mat-label>Username</mat-label>
                                              <input matInput placeholder="Mr. Anderson" formControlName="username">
                                              <mat-error *ngIf="getcontrols().username.errors">Username is Required</mat-error>
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                              <mat-label>Password</mat-label>
                                              <input matInput placeholder="Mr. Anderson" formControlName="password" [type]="hide ? 'password' : 'text'">
                                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                              </button>
                                              <mat-error *ngIf="getcontrols().password.errors">Password is Required</mat-error>
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                              <mat-label>Confirm</mat-label>
                                              <input matInput placeholder="Mr. Anderson" formControlName="confirm" [type]="hide ? 'password' : 'text'">
                                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                              </button>
                                              <mat-error *ngIf="getcontrols().confirm.errors">Passwords must match</mat-error>
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                              <mat-label>Email</mat-label>
                                              <input matInput placeholder="Mr. Anderson" formControlName="email">
                                              <mat-error *ngIf="getcontrols().email.errors">Email is Required</mat-error>
                                        </mat-form-field>
      
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                          <mat-label>Mobile</mat-label>
                                          <input matInput placeholder="Mr. Anderson" formControlName="mobile">
                                          <mat-error *ngIf="getcontrols().mobile.errors">mobile is Required</mat-error>
                                      </mat-form-field>
      
                                      <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                          <mat-label>Pin Code</mat-label>
                                          <input matInput placeholder="Mr. Anderson" formControlName="pincode">
                                          <mat-error *ngIf="getcontrols().pincode.errors">pincode is Required</mat-error>
                                      </mat-form-field>
      
                                      <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                          <mat-label>City</mat-label>
                                          <input matInput placeholder="Mr. Anderson" formControlName="city">
                                          <mat-error *ngIf="getcontrols().city.errors">city is Required</mat-error>
                                      </mat-form-field>
      
                                      <mat-form-field appearance="outline" style="font-size: small;" class="col-md-6">
                                          <mat-label>State</mat-label>
                                          <input matInput placeholder="Mr. Anderson" formControlName="state">
                                          <mat-error *ngIf="getcontrols().state.errors">state is Required</mat-error>
                                      </mat-form-field>
                      
                                        <mat-form-field appearance="outline" style="font-size: small;" class="col-md">
                                              <mat-label>Address</mat-label>
                                              <textarea matInput placeholder="Mr. Anderson" formControlName="address"></textarea>
                                              <mat-error *ngIf="getcontrols().address.errors">Address is Required</mat-error>
                                        </mat-form-field>
      
                                        <div class="col-md-10">
                                              <button mat-raised-button style="background-color: #2ca5cc;color: white;" class="ml-auto mt-3">Sign Up</button>
                                              <button type="button" mat-button class="mt-4" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already Registered? Sign In</button>
                                        </div>
                                  </form>
                                  <div class="col-md-10">
                                        
                                  </div>
                            </div>
                      </div>
                 </mat-card-content>
           </mat-card>
        </div>
    </div>
</div>